@media (max-width: 1155px) {
    #imag{
        width: 50%;
    }
    .contact{
        font-size: 1.5em;
    }
    .whole p{
        font-size: 1em;
    }
    .main{
        height: 625vh;
    }
}
@media (max-width: 1032px) {

    .devimg{
        float: left;
    }
    .devimg img{
        height: 35vh;
    }
    .sidebar{
        position: absolute;
    }
    .devinfo{
        font-size: 14px;
    }
    .info{
        height: 35vh;
    }
    .hello,.name,.about,.moreabout{
        justify-content: center;
        margin: auto;
        display: flex;
    }
    nav ul li{
        font-size: 12px;
    }
    .close{
        margin-left: 62px;
    }
    .content{
        height: 45vh;
    }
    .myprojects{
        height: 100vh;
    }
    .listskills{
        font-size: 2em;
    }
    .experience{
        font-size: 2em;
    }
    .content{
        height: 50vh;
    }
    .profile{
        height: 50vh;
    }
    #imag{
        width: 55%;
    }
    .contact{
        font-size: 1.5em;
    }
    .whole p{
        font-size: 1em;
    }
    .main{
        height: 625vh;
    }
}
@media (max-width: 945px) {

    .devimg{
        float: left;
    }
    .devimg img{
        height: 35vh;
    }
    .sidebar{
        position: absolute;
    }
    .devinfo{
        font-size: 14px;
    }
    .info{
        height: 35vh;
    }
    .hello,.name,.about,.moreabout{
        justify-content: center;
        margin: auto;
        display: flex;
    }
    nav ul li{
        font-size: 12px;
    }
    .close{
        margin-left: 62px;
    }
    .myprojects{
        height: 100vh;
    }
    .listskills{
        font-size: 2em;
    }
    .experience{
        font-size: 2em;
    }
    .content{
        height: 70vh;
    }
    .profile{
        height: 70vh;
    }
    #imag{
        width: 55%;
    }
    .contact{
        font-size: 1.5em;
    }
    .whole p{
        font-size: 1em;
    }
    .main{
        height: 625vh;
    }
}

@media (max-width: 685px) {

    .devimg{
        float: left;
    }
    .devimg img{
        height: 35vh;
    }
    .sidebar{
        position: absolute;
    }
    .devinfo{
        font-size: 14px;
    }
    .info{
        height: 35vh;
    }
    .hello,.name,.about,.moreabout{
        justify-content: center;
        margin: auto;
        display: flex;
    }
    nav ul li{
        font-size: 10px;
    }
    .close{
        margin-left: 62px;
    }
    .myprojects{
        height: 100vh;
    }
    .listskills{
        font-size: 2em;
    }
    .experience{
        font-size: 2em;
    }
    .content{
        height: 60vh;
        font-size: 0.9em;
    }
    .profile{
        height: 60vh;
        font-size: 0.9em;
    }
    .devimage img{
        width: 30vw;
        height: 50%;
    }
    #imag{
        width: 60%;
    }
    .contact{
        font-size: 1.5em;
    }
    .whole p{
        font-size: 1em;
    }
    .main{
        height: 625vh;
    }
}
@media (max-width: 570px) {
    .devimg{
        float: left;
    }
    .devimg img{
        height: 35vh;
    }
    .sidebar{
        position: absolute;
    }
    .devinfo{
        font-size: 14px;
    }
    .info{
        height: 35vh;
    }
    .hello,.name,.moreabout{
        justify-content: center;
        margin: auto;
        display: flex;
    }
    nav ul li{
        font-size: 12px;
    }
    .close{
        margin-left: 62px;
    }
    .myprojects{
        height: 100vh;
    }
    .listskills{
        font-size: 2em;
    }
    .experience{
        font-size: 2em;
    }
    .content{
        height: 60vh;
        font-size: 0.8em;
    }
    .profile{
        height: 60vh;
        font-size: 0.8em;
    }
    .devimage img{
        width: 30vw;
        height: 50%;
    }
    #imag{
        width: 50%;
        height: 50%;
        margin: auto;
    }
    .contact{
        font-size: 1.5em;
    }
    .whole p{
        font-size: 1em;
    }
    .main{
        height: 625vh;
    }
}
@media (max-width: 490px) {

    .devimg{
        float: left;
    }
    .devimg img{
        height: 35vh;
    }
    .sidebar{
        position: absolute;
    }
    .devinfo{
        font-size: 14px;
    }
    .info{
        height: 35vh;
    }
    .hello,.name,.moreabout{
        justify-content: center;
        margin: auto;
        display: flex;
    }
    nav ul li{
        font-size: 12px;
    }
    .close{
        margin-left: 62px;
    }
    .myprojects{
        height: 100vh;
    }
    .listskills{
        font-size: 2em;
    }
    .experience{
        font-size: 2em;
    }
    .content{
        height: 70vh;
        font-size: 0.8em;
    }
    .profile{
        height: 70vh;
        font-size: 0.8em;
    }
    .devimage img{
        width: 30vw;
        height: 50%;
    }
    #imag{
        width: 50%;
        height: 50%;
        margin: auto;
    }
    .contact{
        font-size: 1.5em;
    }
    .whole p{
        font-size: 1em;
    }
    .main{
        height: 625vh;
    }
}
@media (max-width: 420px) {

    .devimg{
        float: left;
    }
    .devimg img{
        height: 25vh;
    }
    .sidebar{
        position: absolute;
    }
    .devinfo{
        font-size: 10px;
    }
    .info{
        height: 25vh;
    }
    .hello,.name,.moreabout{
        justify-content: center;
        margin: auto;
        display: flex;
    }
    nav ul li{
        font-size: 12px;
    }
    .close{
        margin-left: 62px;
    }
    .myprojects{
        height: 100vh;
    }
    .listskills{
        font-size: 2em;
    }
    .experience{
        font-size: 2em;
    }
    .content{
        height: 70vh;
        font-size: 0.6em;
    }
    .profile{
        height: 70vh;
        font-size: 0.6em;
    }
    .devimage img{
        width: 30vw;
        height: 50%;
    }
    #imag{
        width: 50%;
        height: 50%;
        margin: auto;
    }
    .contact{
        font-size: 1em;
    }
    .whole p{
        font-size: 0.8em;
    }
    .main{
        height: 625vh;
    }
    footer p{
        font-size: 1em;
    }
    .imageall img{
        width:3vw;
    }
    .skills,.e1{
        font-size: 0.8em;
    }
}
@media (max-width: 325px) {

    .devimg{
        float: left;
    }
    .devimg img{
        height: 25vh;
    }
    .sidebar{
        position: absolute;
    }
    .devinfo{
        font-size: 10px;
    }
    .info{
        height: 25vh;
    }
    .hello,.name,.moreabout{
        justify-content: center;
        margin: auto;
        display: flex;
    }
    nav ul li{
        font-size: 12px;
    }
    .close{
        margin-left: 62px;
    }
    .myprojects{
        height: 100vh;
    }
    .listskills{
        font-size: 2em;
    }
    .experience{
        font-size: 2em;
    }
    .content{
        height: 50vh;
        font-size: 0.5em;
    }
    .profile{
        height: 50vh;
        font-size: 0.5em;
    }
    .devimage img{
        width: 20vw;
    }
    #imag{
        width: 50%;
        height: 30%;
        margin: auto;
    }
    .contact{
        font-size: 0.6em;
    }
    .whole p{
        font-size: 0.6em;
    }
    .main{
        height: 625vh;
    }
    footer p{
        font-size: 1em;
    }
    .imageall img{
        width:3vw;
    }
    .skills,.e1{
        font-size: 0.6em;
    }
    .skills img{
        width: 3vw;
    }
    .button2{
        width: 20px;
        height: 10px;
        font-size: 0.4em;
    }
}